*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li{
    list-style-type: none;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    height: 100%;
    font-size: 18px;
    background: white;
    line-height: 1.6;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    width: 100%;
    padding: 0 15px;
    max-width: 1360px;
    margin: 0 auto;
}
.header-inner{
    padding: 24px 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-list{
    display: flex;
    list-style: none;
}
.menu-item:not(:last-child){
    margin-right: 15px;
}
.section-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-home-social{
    display: flex;
}
.social-menu-list{
    padding: 0;
    display: flex;
}
.social-menu-item:not(:last-child){
    margin-right: 15px;
}

a svg{
    transition: all 0.3s linear;
}
a:hover svg{
    transform: scale(1.5);
}